<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find bot)/config/bot_controllers.yaml</parameters>
    </plugin>
    
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre</render_engine>
    </plugin>
  </gazebo>

  <gazebo reference="rgb_camera">
    <material>Gazebo/Red</material>
    <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
        <topic>/image_raw</topic>
        <gz_frame_id>rgb_camera</gz_frame_id>
        <camera name="camera">
          <horizontal_fov>1.31126</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height>
            <format>R8G8B8</format>
          </image>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
        </camera>
    </sensor>   
  </gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="base_plate">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="forward_drive_arm">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="horizontal_arm">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="claw_support">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="gripper_right">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="gripper_left">
    <material>Gazebo/Black</material>
  </gazebo>

  
</robot>